@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}