.title-section {
    font-weight: 100;
    font-family: "Montserrat-SemiBold";
    width: 100%;
    text-align: center;
}

.sejm-plot-section {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 67% 33%;
    height: 500px;
}

.sejm-plot-div {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.side-bar {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 15px;
    color: white;
}

.repr-vis-section {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 33% 34% 33%;
    background-color: black;
    color: white;
    height: 400px;
}

.repr-other {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
}

.icon-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px auto;
    grid-column-gap: 20px;
    height: 60px;
    width: 100%;
    vertical-align: middle;
}

.icon {
    width: 50px;
    height: 80px;
    opacity: 0;
    animation: slideInRight 0.5s forwards;
}

.star {
    width: 40px;
    height: 80px;
}

.flat {
    width: 40px;
    height: 80px;
}

.repr-stats-panel {
    padding: 16px;
    background-clip: border-box;
    font-size: 16px;
}

#title {
    animation: fadeIn 5s forwards;
}

.i0 {
    animation-delay: 0.2s;
}

.i1 {
    animation-delay: 0.4s;
}

.i2 {
    animation-delay: 0.6s;
}

.i3 {
    animation-delay: 0.8s;
}

.i4 {
    animation-delay: 1s;
}

.i5 {
    animation-delay: 1.2s;
}

.i6 {
    animation-delay: 1.4s;
}

.i7 {
    animation-delay: 1.6s;
}

.i8 {
    animation-delay: 1.8s;
}