.title-section {
    font-weight: 100;
    font-family: "Montserrat-SemiBold";
    width: 100%;
    text-align: center;
}

.sejm-plot-section {
    display: flex;
    width: 100%;
    outline-color: rgb(0, 0, 0);
    outline-style: solid;
    outline-width: 4px;
}

.side-bar {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 100%;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.repr-vis-section {
    display: flex;
    width: 100%;
}

.icon-entry {
    display: flex;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    height: 80px;
}

.icon {
    width: 80px;
    height: 80px;
}