.title-section {
    font-weight: 100;
    font-family: "Montserrat-SemiBold";
    width: 100%;
    text-align: center;
}

.sejm-plot-section {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 67% 33%;
    height: 500px;
}

.sejm-plot-div {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.side-bar {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 15px;
    color: white;
}

.repr-vis-section {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 33% 34% 33%;
    background-color: black;
    color: white;
    height: 400px;
}

.repr-other {
    display: grid;
    grid-auto-flow: row;
}

.icon-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px auto;
    grid-column-gap: 20px;
    height: 60px;
    width: 100%;
    vertical-align: middle;
}

.icon {
    width: 50px;
    height: 80px;
    animation: show_up 2s linear;
}

.star-icon {
    width: 40px;
    height: 80px;
}

.repr-stats-panel {
    padding: 16px;
    background-clip: border-box;
    font-size: 16px;
}