.sejm-plot-section {
    display: flex;
    width: 100%;
    outline-color: rgb(0, 0, 0);
    outline-style: solid;
    outline-width: 4px;
}

.side-bar {
    background-color: rgb(172, 172, 172);
    padding: 20px;
    width: 100%;
    font-size: 15px;
}