.party-plot.section {
    padding-top: 80px;
}

.party-plot-div {
    background-color: rgb(240, 240, 240);
    justify-content: center;
    display: flex;
    width: 100%;
}

.party-image-div {
    width: 100%;
    height: 25%;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 40px;
}

.party-image {
    height: auto;
    width: auto;
    padding: 10px;
    object-fit: scale-down;
    max-width: 90%;
    max-height: 100%;
}