.sejm-plot.section {
    height: 500px;
    padding-top: 80px;
}

.sejm-plot-div {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.repr-vis.section {
    grid-template-columns: 33% 34% 33%;
    background-color: black;
    color: white;
    height: 400px;
}

.icon-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px auto;
    grid-column-gap: 20px;
    height: 60px;
    width: 100%;
    vertical-align: middle;
}

.repr-vis-part {
    height: 50%;
}

.repr-stats-panel {
    padding: 16px;
    background-clip: border-box;
    font-size: 16px;
}

#table-panel-button {
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: 20px;
    z-index: 100;
    font-family: "Montserrat-SemiBold";
    font-size: 0.8em;
    border: none;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

#table-panel-button:hover {
    width: 50px;
}

.hidden-panel {
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    width: 0px;
    z-index: 99;
    background-color: lightgray;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.table-container {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.table-container>H2 {
    padding-top: 10px;
    padding-left: 20px;
}

#repr-table {
    padding: 20px;
}