.sejm-plot.section {
    height: 500px;
    padding-top: 80px;
}

.sejm-plot-div {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.repr-vis.section {
    grid-template-columns: 33% 34% 33%;
    background-color: black;
    color: white;
    height: 400px;
}

.repr-other {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
}

.icon-entry {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px auto;
    grid-column-gap: 20px;
    height: 60px;
    width: 100%;
    vertical-align: middle;
}

.repr-stats-panel {
    padding: 16px;
    background-clip: border-box;
    font-size: 16px;
}