@font-face {
    font-family: "Montserrat-Thin";
    src: url(/assets/fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(/assets/fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(/assets/fonts/Montserrat-Bold.ttf) format("truetype");
}

* body {
    font-family: "Montserrat-Thin", sans-serif;
}